<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="File" name="file"
            layout="${longdate}|${uppercase:${level}}|${logger}::${message}"
            fileName="SPDIFKA.log" deleteOldFileOnStartup="true" />
    <target xsi:type="Debugger" name="debugger" layout="${longdate:universalTime=true}|${level:uppercase=true}|${logger}->${message}"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="file,debugger" />
  </rules>
</nlog>
